@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.meter {
    display: flex;
    overflow: hidden;
    background-color: #e2e8f0;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    height: 4rem;
}

.meter span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #faf089;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.5rem;
    transition: width 2s ease;
}